ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: fixed;
    }
      
  li {
    float: left;
    }
      
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    }
  
  li a:hover {
    text-decoration: none;
  }
   
  #screen1 {
    overflow-y: hidden;
    height: 300vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  }
  
  #heading_faq {
    position: relative;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 50px;
    align-content: center;
    color: whitesmoke;
  }
  .fa-chevron-down {
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
  }
  .hl1 {
    position: absolute;
    bottom: -50%;
    left: 18%;
    right: 0; 
  }
  
  .hl2 {
    position: absolute;
    bottom: -50%;
    right: 18%;
    left: 0;
  }
  #qn1 {
    position: absolute;
    top:25vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn1 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans1 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn2 {
    position: absolute;
    top:50vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn2 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans2 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }

  #qn3 {
    position: absolute;
    top:75vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn3 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans3 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn4 {
    position: absolute;
    top:100vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn4 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans4 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn5 {
    position: absolute;
    top:125vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn5 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans5 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn6 {
    position: absolute;
    top:150vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn6 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans6 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn7 {
    position: absolute;
    top:175vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn7 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans7 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn8 {
    position: absolute;
    top:200vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn8 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans8 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn9 {
    position: absolute;
    top:225vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn9 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans9 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #qn10 {
    position: absolute;
    top:250vh;
    left:0;
    right:0;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    color: #dce3e7;
  }
  #qn10 span {
    font-size: 25px;
    letter-spacing: 2px; 
    font-family: 'Roboto', serif;
    font-weight: 600;
  }
  #ans10 {
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 2px; 
    font-family: 'Arial', serif;
  }
  #screen2 {
    height: 30vh;
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #616161;
  }
  
  
  .footer-icons{
    font-size: 30px;
  }
  .fa-reddit {
    position: absolute;
    top: 35%;
    left:42.5%;
    color: whitesmoke;
  }
  .fa-twitter {
    position: absolute;
    top: 35%;
    left:47.5%;
    color: whitesmoke;
  }
  .fa-youtube-play {
    position: absolute;
    top: 35%;
    left:52.5%;
    color: whitesmoke;
  }
  .fa-github {
    position: absolute;
    top: 35%;
    left:57.5%;
    color: whitesmoke;
  }